/* * * * * * * * * *
HEADING
* * * * * * * * * */

header{
  
  background: black;
  border: 3px solid blue;

}

h1{
  color:white;
  text-align:center;
  font-size:24px;
  bottom: 25;
  right: 25;

}

/* * * * * * * * * *
GENERAL
* * * * * * * * * */

section{
  text-align: center;
  margin:0;
  background: white;
}

/* * * * * * * * * *
USER INPUT FIELD
* * * * * * * * * */

/* colored button if clicked*/
#clicked{
  background:darkgray;
}

body p {
  font-size:24px;
  color:white;
}

#userInputSection{
  margin-top:150px;
}

button{
  background: gray;
}

#buttons{ 
  
  margin: 0 auto;
  padding: 10px;
  margin-top:200px;
  background:white;

}

/* * * * * * * * * *
REMAINING GUESSES SECTION
* * * * * * * * * */

#remainingGuesses{
  width:450px;
  height:50px;
  font-size:24px;
  background:red;
  margin:50px;
  margin-bottom: 150px;
  /*margin-bottom: 50px;*/
  margin-left: 350px;
  /*margin-right: 10px;*/
}
/* * * * * * * * * *
FOOTER
* * * * * * * * * */

#pictureSection{
  margin-left:470px;
  padding:10px;

}

footer p{
  text-align:center;
	color:white;
  font-size:12px;
}
#myName{
  margin-right:470px;
}

footer {
	background: black;
  height:150px;

}
